@use 'sass:math';
@use '../../../styles/breakpoints.scss' as breakpoints;
@use '../../../styles/colors.scss' as colors;

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  &__icons {
    display: flex;
    align-items: center;
    justify-items: center;

    gap: 2.4rem;
  }

  &__icon-container {
    width: 4rem;
    height: 4rem;

    display: none;

    place-items: center;

    &--mobile {
      display: grid;
    }

    @include breakpoints.desktop {
      &--desktop {
        display: grid;
      }
    }
  }

  > :first-child {
    padding-inline-start: 2rem;
  }

  > * {
    padding-inline: math.div(2rem, 2);
  }

  > :last-child {
    padding-inline-end: 2rem;
  }

  @include breakpoints.desktop {
    &__logo {
      padding-inline-start: 7.5rem;
    }
  }
}
