.todo-item {
    list-style-type: none;

    & > [data-select="checkbox"] {
        margin: 0px;
        height: 1em;
        width: 1em;
        appearance: none;
        vertical-align: middle;
        padding: 3px;
        box-sizing: content-box;
        cursor: pointer;

        &:checked {
            background-color: green;
        }

        &:not(checked) {
            background-color: red;
        }
    }
}