@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;

.vaccine-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__vaccine-title {
    color: colors.$gray800;
    font-size: 1.8rem;
    font-weight: fonts.$semiBold;
  }
}
