@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.selector-modal {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 1rem 0;

  position: absolute;
  z-index: 2;

  list-style: none;

  background-color: colors.$secondary100;

  border-radius: 0.1rem;
}

@include breakpoints.from667 {
  .selector-modal {
    width: max-content;
  }
}
