@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.selector-item {
  font-family: fonts.$primaryFont;
  color: colors.$gray700;
  font-size: fonts.$xs;
  font-weight: fonts.$medium;
}
