@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.selector-item {
  width: 75px;

  font-family: fonts.$primaryFont;
  color: colors.$gray700;

  text-align: center;
  font-size: fonts.$xs;
  font-weight: fonts.$medium;

  scroll-snap-align: center;

  &--active {
    color: colors.$primary200;
    font-size: fonts.$lg;
    font-weight: fonts.$semiBold;

    padding: 0.6rem 1.2rem;
    border: 1px solid colors.$blue100;

    background-color: rgba(209, 230, 255, 0.5);
    border-radius: 1.4rem;
  }
}
