@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.vaccine-item {
  height: 7rem;

  display: flex;
  gap: 1.2rem;

  align-items: center;
  justify-content: space-between;

  padding: 0 1.6rem;
  border: 1px solid colors.$grey150;

  border-radius: 14px;

  &__info-body {
    color: colors.$gray600;
    font-size: 1.6rem;
    font-weight: fonts.$medium;
    line-height: 2.4rem;

    &.vaccine {
      color: colors.$gray800;
      font-size: 1.6rem;
      font-weight: fonts.$semiBold;
      line-height: fonts.$lg;
    }

    &.date {
      display: flex;
      gap: 0.8rem;

      align-items: center;
    }

    &.divider {
      width: 1px;
      height: 30px;

      background-color: colors.$grey150;
    }
  }
}

@include breakpoints.from667 {
  .vaccine-item {
    &__info-body {
      &.date {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
