@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.vaccine-item {
  display: flex;
  gap: 1.2rem;

  align-items: center;
  justify-content: space-between;

  padding: 1.5rem;
  border: 1px solid colors.$grey150;

  border-radius: 14px;

  &__info-body {
    color: colors.$gray600;
    font-size: 1.2rem;
    font-weight: fonts.$medium;
    line-height: 2.4;

    &.title {
      color: colors.$gray800;
      font-size: 1.2rem;
      font-weight: fonts.$semiBold;
      line-height: 2.4;
    }

    &.date {
      display: flex;
      gap: 0.8rem;

      align-items: center;
    }

    &.divider {
      align-self: stretch;

      border-right: 1px solid colors.$grey150;
    }
  }
}

@include breakpoints.from667 {
  .vaccine-item {
    &__info-body {
      font-size: 1.6rem;

      &.title {
        font-size: 1.6rem;
        font-weight: fonts.$semiBold;
      }

      &.date {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
