@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.vaccine-container {
  max-width: 63rem;
  gap: 2rem;
  padding: 2rem;
  border: 1px;

  display: flex;
  flex-direction: column;

  font-family: fonts.$primaryFont;
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add-vacine {
    display: flex;

    line-height: 2.1rem;
    gap: 1rem;

    font-family: fonts.$tertiaryFont;
    color: colors.$blue500;
    font-size: fonts.$xs;
    font-weight: fonts.$bold;

    cursor: pointer;
  }

  &__add-vacine-text {
    padding-right: 0.9rem;
  }

  &__text {
    margin-left: 3%;
    margin-right: auto;

    line-height: 2rem;
    font-family: fonts.$primaryFont;
    font-weight: fonts.$semiBold;
    font-size: fonts.$xs;
    color: colors.$gray800;
  }
  &__add-vacine-text {
    display: none;
  }
}

@include breakpoints.from667 {
  .vaccine-container {
    &__text {
      font-size: fonts.$sm;
    }
    &__add-vacine-text {
      display: block;
    }
  }
}
