@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.vaccine-container {
  max-width: 63rem;
  max-height: 22.4rem;

  gap: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: fonts.$primaryFont;
  border: 1px solid colors.$grey150;
  border-radius: 1.8rem;

  box-shadow: rgba(50, 50, 71, 0.04);

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-right: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add-vacine {
    display: flex;

    line-height: 2.1rem;
    gap: 1rem;

    font-family: fonts.$tertiaryFont;
    color: colors.$blue500;
    font-size: fonts.$xs;
    font-weight: fonts.$bold;

    cursor: pointer;
  }

  &__add-vacine-text {
    padding-right: 0.9rem;
  }

  &__text {
    margin-left: 3%;
    margin-right: auto;

    line-height: 2rem;
    font-family: fonts.$primaryFont;
    font-weight: fonts.$semiBold;
    font-size: fonts.$xs;
    color: colors.$gray800;
  }
  &__add-vacine-text {
    display: none;
  }

  &__list-group {
    overflow-y: scroll;
  }
}

@include breakpoints.from667 {
  .vaccine-container {
    max-height: 46.2rem;

    &__text {
      font-size: fonts.$sm;
      font-size: 1.8rem;
      font-weight: fonts.$semiBold;
      line-height: 2.4rem;
      color: colors.$gray800;
    }
    &__add-vacine-text {
      display: block;
    }
    &__sections {
      margin-right: 2rem;
    }
  }
  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: colors.$gray500;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}
