[data-counter-init] {
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;

    padding: 0.6em 1.2em;
    border: 1px solid transparent;

    background-color: #1a1a1a;
    border-radius: 8px;

    transition: border-color 0.25s;

    cursor: pointer;
}

[data-counter-init]:hover {
    border-color: #646cff;
}

[data-counter-init]:focus,
[data-counter-init]:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    [data-counter-init] {
        background-color: #f9f9f9;
    }
}