@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.date {
  &__button {
    font-family: fonts.$primaryFont;
    color: colors.$gray500;
    font-size: 1.4rem;
    font-weight: fonts.$medium;
    line-height: 2.5;

    border: 0;

    background-color: transparent;

    cursor: pointer;
  }
}

.date.active {
  &__button {
    color: colors.$primary200;
    font-size: 2.6rem;
    font-weight: fonts.$bold;
    line-height: 1.3;

    padding: 0.6rem 1.2rem;
    border: 0.1rem solid colors.$gray100;

    background-color: colors.$gray150;

    border-radius: 1.4rem;
  }
}

@include breakpoints.from667 {
  .date {
    display: none;

    &__button {
      width: 100%;

      font-size: fonts.$md;
      line-height: 1.8;
    }
  }

  .date.active {
    display: flex;

    &__button {
      color: colors.$gray800;
      font-size: 2.6rem;
      font-weight: fonts.$regular;

      padding: 0.6rem;
      border: 0;

      background-color: transparent;
    }
  }
}
