@use '~styles/colors.scss' as colors;
@use '~styles/breakpoints.scss' as breakpoints;

.no-pet-regirested-page {
  min-height: 100%;

  display: grid;

  place-items: center;

  &__description {
    max-width: 33.5rem;

    font-family: 'Montserrat', sans-serif;
  }

  &__title {
    color: colors.$gray800;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.25;
  }

  &__hint {
    color: colors.$gray600;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875;

    margin-top: 1.8rem;
  }

  &__image {
    max-width: 100%;

    margin-top: 2.4rem;
  }

  &__button {
    max-width: 42rem;

    margin-top: 3.2rem;
  }

  &__content {
    text-align: center;
  }
}

@include breakpoints.from1024 {
  .no-pet-regirested-page {
    &__description {
      max-width: 46rem;
    }

    &__title {
      font-size: 3.4rem;
    }

    &__hint {
      font-size: 1.8rem;

      margin-top: 2rem;
    }

    &__image {
      margin-top: 0;
    }

    &__button {
      margin-top: 4rem;
    }

    &__content {
      display: flex;

      align-items: center;
    }
  }
}
