$extraSmallDeviceSizeMin: 32rem;
$smallDeviceSizeMin: 36rem;
$mediumDeviceSizeMin: 66.7rem;
$largeDeviceSizeMin: 102.4rem;
$largestDeviceSizeMin: 128rem;

@mixin from320 {
  @media (min-width: $extraSmallDeviceSizeMin) {
    @content;
  }
}

@mixin from360 {
  @media (min-width: $smallDeviceSizeMin) {
    @content;
  }
}

@mixin from667 {
  @media (min-width: $mediumDeviceSizeMin) {
    @content;
  }
}

@mixin from1024 {
  @media (min-width: $largeDeviceSizeMin) {
    @content;
  }
}

@mixin from1280 {
  @media (min-width: $largestDeviceSizeMin) {
    @content;
  }
}
