$appColor: rgb(0, 52, 89);
$appContentColor: rgb(255, 255, 255);
$gray100: rgba(217, 223, 230);
$grey150: rgb(236, 239, 242);
$gray200: rgb(217, 223, 230);
$gray800: rgb(57, 67, 79);
$gray600: rgb(128, 139, 154);
$gray500: rgba(172, 172, 181);
$blue500: rgb(27, 133, 243);
$blue600: rgb(18, 104, 204);
$yellow500: rgb(255, 197, 66);
$grey900: rgb(32, 35, 38);
$purple500: rgb(86, 73, 228);
