$appColor: rgb(0, 52, 89);
$appContentColor: rgb(255, 255, 255);
$gray100: rgba(217, 223, 230);
$grey150: rgb(236, 239, 242);
$gray800: rgb(57, 67, 79);
$gray600: rgb(128, 139, 154);
$blue500: rgb(27, 133, 243);
$blue600: rgb(18, 104, 204);
$yellow500: rgb(255, 197, 66);
