@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//font-family
$primaryFont: "Montserrat", sans-serif;
$secondaryFont: 'Wix Madefor Display', sans-serif;
$tertiaryFont: 'Rubik', sans-serif;
$contactPageFont: 'Poppins', sans-serif;


//font-size 
$xs: 0.875rem;    //14px
$sm: 1rem;        //16px
$md: 1.25rem;     //20px
$lg: 1.5rem;      //24px
$xl: 1.875rem;    //30px
$_2xl: 2.25rem;   //36px
$_3xl: 3rem;      //48px
$_4xl: 3.75rem;   //60px


//font-weight
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;


//font-style
$fontStyleNormal: normal;
$fontStyleItalic: italic;
$fontStyleunderline: underline;


//Mixins para os estilos de fonte relevantes

//Mixin de botão primário
@mixin buttonPrimaryFont() {
    color: #FDFDFD;
    font-family: $primaryFont;
    font-size: $sm;
    font-weight: $fontWeightBold;
    font-style: $fontStyleNormal;
    line-height: 24px;
}

//Mixin de botão secundário
@mixin buttonSecondaryFont() {
    color: #003459;
    font-family: $tertiaryFont;
    font-size: $lg;
    font-weight: $fontWeightNormal;
    font-style: $fontStyleNormal;
}

//Mixin para os imputs da página de Contato
@mixin inputFont() {
    color: #8D8D8D;
    font-family: $contactPageFont;
    font-size: 12px;
    font-style: $fontStyleNormal;
    font-weight: $fontWeightNormal;
    line-height: 20px;
}

//Mixin para textos de descirção do Pet em sua página
@mixin textFont() {
    font-family: $primaryFont;
    font-size: $xs;
    font-style: $fontStyleNormal;
    font-weight: $fontStyleNormal;
    line-height: 20px;
}


//funções para estilos tipográficos


//função para criar estilos tipográficos em geral
@function getFontStyle($color, $family, $weight, $size, $style) {
    @return (
        color: $color,
        font-family: $family,
        font-weight: $weight,
        font-size: $size,
        font-style: $style,
    );    
}

//função para a font de navegação do header, onde pode ser diferente dependendo da página em que o usuário estiver
@function navegationHeaderFont($style, $weight) {
    @return(
    color: #003459,
    font-size: $sm,
    font-style: $style,
    font-weight: $weight,
    line-height: 24px,
    ); 
}

//função para a font de navegação do footer, onde pode ser diferente dependendo da página em que o usuário estiver
@function navegationFooterFont($style, $weight) {
    @return(
    color: #FFF,
    font-size: $sm,
    font-style: $style,
    font-weight: $weight,
    line-height: 24px,
    letter-spacing: -0.205px,
   ); 
}


/* Exemplos de uso

  p {
    @include textFont(); <-- Aplica o mixin para estilo de texto
    Outras propriedades do body...
  }

  h1 {
    @include getFontStyle($color, $primaryFont, $fontWeightNormal, $_2xl, $fontStyleNormal);
    Outras propriedades do título...
  } */






