@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.year-selector {
  width: 100%;

  display: flex;
  gap: 2.4rem;

  align-items: center;
  justify-content: center;

  margin-bottom: 2.4rem;

  padding-bottom: 2.4rem;

  border-bottom: 0.1rem solid colors.$gray150;

  &__previous-years,
  &__next-years {
    display: flex;
    gap: 1.6rem;

    align-items: center;
    justify-content: center;
  }

  &__current-year {
    align-self: center;

    font-family: fonts.$primaryFont;
    color: colors.$primary200;
    font-size: fonts.$lg;
    font-weight: fonts.$semiBold;

    padding: 0.6rem 1.2rem;
    border: 0.1rem solid colors.$blue100;

    background-color: colors.$blue150;
    border-radius: 1.4rem;
  }
}

@include breakpoints.from667 {
  .year-selector {
    width: max-content;

    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;

    &__previous-years,
    &__next-years {
      display: none;
    }

    &__current-year {
      color: colors.$gray800;
      font-weight: fonts.$regular;

      padding: 0;
      border: 0;

      background-color: colors.$secondary100;

      cursor: pointer;
    }
  }
}
