@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.year-selector {
  overflow: auto;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;

  box-sizing: border-box;
  scroll-snap-type: x mandatory;

  [data-select='list-selector'] {
    width: fit-content;

    display: flex;

    align-items: center;

    [data-select='list-selector'] > * {
      scroll-snap-align: center;
    }
  }
}

@include breakpoints.from667 {
  .selector-modal {
    display: flex;
  }
}
