@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.day__button {
  width: 4rem;
  height: 4rem;

  font-family: fonts.$primaryFont;
  color: colors.$gray500;
  font-size: 1.6rem;
  font-weight: fonts.$medium;

  padding: 0;
  border: 0.1rem solid colors.$gray100;

  background-color: colors.$secondary100;
  border-radius: 1rem;

  cursor: pointer;

  &.prev-month,
  &.next-month {
    color: colors.$gray300;

    background-color: colors.$gray150;
  }

  &:hover,
  &.active {
    color: colors.$primary200;
    font-weight: fonts.$semiBold;

    border: 0.1rem solid colors.$blue100;

    background-color: colors.$blue150;
  }
}

@include breakpoints.from667 {
  .day__button {
    width: 5.4rem;
    height: 5.4rem;

    font-size: 1.8rem;

    &:hover,
    &.active {
      border: 0.2rem solid colors.$blue100;
    }
  }
}
