@use '~styles/colors.scss' as colors;
@use '~styles/breakpoints.scss' as breakpoints;

.pet-regirested-page {
  max-height: 50rem;
  overflow: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;

  align-items: start;
  justify-content: center;

  &__pet-card {
    aspect-ratio: auto;

    cursor: pointer;
  }
}

.pet-regirested-footer {
  display: flex;

  margin: 2rem;

  &__button {
    width: min(100%, 42rem);

    margin: 0 auto;
  }
}

@include breakpoints.from1024 {
  .pet-regirested-page {
    &__pet-container {
      display: flex;

      align-items: center;
    }
  }

  .pet-regirested-footer {
    margin: 1.2rem;
  }
}

@include breakpoints.from1280 {
  .pet-regirested-footer {
    &__button {
      margin: 0 auto;
    }
  }
}
