@use '~styles/colors.scss' as colors;
@use '~styles/breakpoints.scss' as breakpoints;

.pet-regirested-page {
  min-height: 100%;
  display: flex;

  align-items: start;
  justify-content: center;

  gap: 1.8rem;
  flex-wrap: wrap;

  &__button {
    max-width: 42rem;
    margin-top: 3.2rem;
  }

  &__pet-container {
    aspect-ratio: auto;
    cursor: pointer;
  }
}

@include breakpoints.from1024 {
  .pet-regirested-page {
    &__button {
      margin-top: 4rem;
    }

    &__pet-container {
      display: flex;
      align-items: center;
    }
  }
}

@include breakpoints.from1280 {
  .pet-regirested-page {
    &__button {
      margin-top: 4rem;
      margin-left: 14rem;
    }
  }
}