@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/breakpoints.scss' as breakpoints;
@use '~styles/fonts.scss' as fonts;

.home {
  width: 200vw;
  height: 100dvh;
  overflow-x: hidden;

  display: grid;
  grid-template-areas:
    'sidemenu nav'
    'sidemenu content';
  grid-template-rows: 8.1rem 1fr;
  grid-template-columns: 100vw 100vw;

  background-color: colors.$primary600;
  transform: translateX(-100vw);

  &--open-menu {
    width: 100vw;

    transform: translateX(0);

    transition: transform 0.3s;
  }

  &--exit-menu {
    width: 200vw;

    transform: translateX(-100vw);

    transition: transform 0.3s;
  }

  &__navigation {
    display: flex;
    grid-area: nav;

    align-items: center;
  }

  &__sidemenu {
    display: grid;
    grid-area: sidemenu;
    grid-template-rows: 8.1rem 1fr;
  }

  &__content {
    overflow: auto;

    grid-area: content;

    background-color: colors.$secondary100;

    padding-inline: 2rem;
    padding-block: 3.2rem;
  }
}

@include breakpoints.from1024 {
  .home {
    width: 100vw;

    grid-template-areas:
      'sidemenu nav'
      'sidemenu content';
    grid-template-rows: 8.1rem 1fr;
    grid-template-columns: 31.3rem 1fr;

    transform: translateX(0);

    &__content {
      margin-inline: 2.4rem;

      margin-bottom: 2.4rem;

      border-radius: 1.6rem;
    }

    &__sidemenu {
      display: block;
    }
  }
}
