@use '../styles/base.scss';
@use '../styles/colors.scss' as colors;
@use '../styles/breakpoints.scss' as breakpoints;

$navigationBlockSize: 8.1rem;
$navigationBlockSizeDesktop: 8.8rem;

$sideMenuInlineSize: 31.3rem;

.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: colors.$appColor;

  &__navigation {
    height: $navigationBlockSize;

    display: flex;
    flex-shrink: 0;

    align-items: center;

    background-color: colors.$appColor;

    @include breakpoints.desktop {
      height: $navigationBlockSizeDesktop;
    }
  }

  &__main {
    overflow: auto;

    display: flex;
    flex-grow: 1;
  }

  &__sidemenu {
    display: flex;
    flex-shrink: 0;

    justify-content: center;

    top: $navigationBlockSize;

    background-color: colors.$appColor;

    @include breakpoints.desktop {
      width: $sideMenuInlineSize;

      top: $navigationBlockSizeDesktop;
    }
  }

  &__content {
    overflow: auto;
    padding-inline: 2rem;
    padding-block: 3.2rem;

    flex-grow: 1;

    justify-content: center;

    background-color: #fff;

    @include breakpoints.desktop {
      margin-inline: 2.4rem;

      margin-bottom: 2.4rem;

      border-radius: 1.6rem;
    }
  }
}
