@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/breakpoints.scss' as breakpoints;

.home {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    'sidemenu nav'
    'sidemenu content';
  grid-template-rows: 8.1rem 1fr;
  grid-template-columns: 100vw 100vw;

  background-color: colors.$appColor;

  &__navigation {
    display: flex;
    grid-area: nav;

    align-items: center;
  }

  &__sidemenu {
    display: grid;
   	grid-area: sidemenu;
    grid-template-rows: 8.1rem 1fr;
  }

  &__content {
    overflow: auto;

    grid-area: content;

    background-color: colors.$appContentColor;

    padding-inline: 2rem;
    padding-block: 3.2rem;
  }
}

@include breakpoints.from1024 {
  .home {
    grid-template-areas:
      'sidemenu nav'
      'sidemenu content';
    grid-template-rows: 8.1rem 1fr;
    grid-template-columns: 31.3rem 1fr;

    &__content {
      margin-inline: 2.4rem;

      margin-bottom: 2.4rem;

      border-radius: 1.6rem;
    }

    &__sidemenu {
      display: block;
    }
  }
}
