@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.date-selector {
  max-width: 33rem;
  overflow-x: hidden;

  display: flex;
  gap: 0.8rem;

  align-items: center;

  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 0.1rem solid colors.$gray100;

  &:first-child {
    order: 2;
  }
}

@include breakpoints.from667 {
  .date-selector {
    margin-bottom: 0;
    padding: 0;
    border-bottom: 0;

    &:last-child {
      display: flex;

      align-items: center;

      order: 2;

      &::after {
        width: 1.6rem;
        height: 2.3rem;

        display: inline;

        background-image: url('../../images/arrows.svg');

        content: '';
      }
    }
  }

  .date-selector.active {
    width: 23.1rem;
    max-height: 22.8rem;
    overflow-y: hidden;

    display: grid;
    gap: 0.6rem;

    position: absolute;
    left: -4rem;

    background-color: colors.$secondary100;

    .date {
      display: block;
    }

    .date.active {
      &::after {
        width: 1.6rem;
        height: 2.3rem;

        display: inline-block;

        margin-top: 1.4rem;

        position: absolute;
        right: 2rem;

        background-image: url('../../images/arrows.svg');

        content: '';
      }

      button {
        font-weight: fonts.$bold;

        border-top: 0.1rem solid colors.$gray100;
        border-bottom: 0.1rem solid colors.$gray100;
      }
    }
  }
}
