@use '../../styles/base.scss';
@use '../../styles/var.scss';

.pet-container {
  width: 220px;
  height: 225px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border: 1px solid #eceff2;
  box-sizing: border-box;

  background-color: #fff;
  box-shadow: 0 4px 20px -2px #32324705;
  box-shadow: 0 0 5px 0 #0c1a4b0d;

  border-radius: 18px;

  &__image {
    width: 100%;
  }

  &__title {
    font-family: var.$petCardFf;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;

    margin: 2rem;
  }

  &--active {
    color: var.$petCardAccentColor;

    border: 2px solid var.$petCardAccentColor;
  }

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0 2px 15px 0;
  }
}
