@use '~styles/base.scss';

.pet-container {
  aspect-ratio: 1/1;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border: 1px solid #eceff2;
  box-sizing: border-box;

  background-color: #fff;
  box-shadow: 0 0 0.5rem 0 #0c1a4b0d;

  border-radius: 1.8rem;

  &__image {
    height: 100%;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;

    margin-top: 2rem;
  }

  &--active {
    color: #1b85f3;

    border: 2px solid #1b85f3;
  }

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0 0.2rem 1.5rem 0;
  }
}