@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as font;

.selector-wrapper {
  container-type: inline-size;

  &__title {
    font-family: font.$primaryFont;
    font-weight: font.$semiBold;
    font-size: font.$sm;
    padding-top: 1.6rem;
    margin: 0;
  }

  &__weight {
    font-family: font.$tertiaryFont;
    font-weight: font.$regular;
    font-size: font.$xs;
    padding-top: 0.6rem;
    margin: 0;
  }

  &__image {
    width: 30px;
    height: 30px;
    background: colors.$grey150;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 1rem;
  }

  &__slide {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 2.4rem;
    padding: 0;
    list-style: none;
    align-items: center;
  }

  &__item {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    list-style: none;
    border-radius: 18px;
    box-shadow:
      0px 4px 20px -2px rgba(50, 50, 71, 0.039),
      0px 0px 5px 0px rgba(12, 26, 75, 0.078);
    width: 15.6%;
    padding: 3.6rem 0;

    border: 3px solid transparent;

    &:hover {
      cursor: pointer;
    }

    &:first-child .selector-wrapper__image {
      width: 20px;
      height: 20px;
    }
  }

  &__item--active {
    border: 3px solid colors.$blue500;

    transform: scale(1.2);
    transition: 0.2s ease-in-out;

    .selector-wrapper__image {
      background: colors.$secondary100;
    }

    .selector-wrapper__title {
      font-family: font.$primaryFont;
      font-weight: font.$semiBold;
      font-size: font.$xs;
      color: colors.$blue500;
    }

    .selector-wrapper__weight {
      color: colors.$secondary300;
    }
  }
}

@container (max-width: 38em) {
  .selector-wrapper {
    &__item {
      width: 18%;
      padding: 2.8rem 0;
    }

    &__image {
      width: 20px;
      height: 20px;
    }
  }
}

@container (max-width: 32em) {
  .selector-wrapper {
    &__slide {
      gap: 2.6rem;
    }

    &__item {
      width: 22%;
      padding: 2.4rem 0;
    }
  }
}

@container (max-width: 25em) {
  .selector-wrapper {
    &__slide {
      justify-content: space-between;
      gap: 2rem;
    }

    &__image {
      width: 16px;
      height: 16px;
    }
  }
}
