@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;

.filter {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 5px;

  justify-content: space-between;

  &__label {
    flex: 1;

    font-family: fonts.$primaryFont;

    p {
      color: colors.$gray700;
      font-size: fonts.$sm;
      font-weight: fonts.$fontWeightRegular;
    }

    b {
      color: colors.$gray800;
      font-weight: 600;
    }
  }

  &__input {
    height: 40px;

    flex: 1;

    font-family: fonts.$primaryFont;
    font-size: fonts.$sm;
    font-weight: fonts.$fontWeightRegular;

    padding: 0 10px;

    border: 1px solid colors.$grey150;

    border-radius: 5px;

    &::placeholder {
      color: colors.$gray600;
    }
  }
}
