@use '~styles/colors.scss' as colors;

.filter {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 5px;

  justify-content: space-between;

  &__label {
    flex: 1;

    p {
      color: colors.$gray600;
    }

    b {
      color: colors.$gray800;
      font-weight: 600;
    }
  }

  &__input {
    height: 40px;

    flex: 1;

    padding: 0 10px;

    border: 1px solid colors.$grey150;

    border-radius: 5px;

    &::placeholder {
      color: colors.$gray600;
    }
  }

  &__button {
    height: 40px;

    display: flex;

    gap: 50px;

    align-items: center;

    font-weight: 600;

    padding: 0 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    &::before {
      content: url('img/filter.svg');
    }

    &:hover {
    }
  }
}
