.card-container {
  width: 377px;
  height: 500px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 31%);
  border-radius: 21px;

  &__image {
    height: 73%;

    background-color: rgb(0, 128, 0);
  }

  &__title {
    display: block;
    flex-grow: 1;

    font-family: Arial;
    font-size: 3.4rem;
    font-weight: bold;

    padding: 2.1rem;
  }

  &__button {
    font-size: 2.1rem;
    font-weight: bold;

    padding: 2.1rem;
    border: 0;

    transition: 0.21s all ease;

    cursor: pointer;

    &--active {
      color: rgb(255, 255, 255);

      background-color: rgb(255, 101, 0);
    }

    &:hover {
      transform: scale(1.1);
    }

    &--disabled {
      color: rgb(69, 69, 69);

      background-color: rgb(156, 156, 156);

      &:hover {
        transform: none;
      }
    }
  }
}
