.card-container {
  width: 377px;
  height: 500px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 31%);
  border-radius: 21px;

  &__image {
    height: 73%;

    background-color: #008000;
  }

  &__title {
    display: block;
    flex-grow: 1;

    font-family: Arial;
    font-size: 3.4rem;
    font-weight: bold;

    padding: 2.1rem;
  }

  &__button {
    font-size: 2.1rem;
    font-weight: bold;
    
    padding: 2.1rem;
    border: 0;
    
    transition: .21s all ease;
    
    cursor: pointer;
    
    &--active {
      color: #fff;

      background-color: rgb(255, 101, 0);
    }

    &:hover {
      transform: scale(1.1);
    }

    &--disabled {
      color: #454545;

      background-color: rgb(156, 156, 156);

      &:hover {
        transform: none;
      }
    }
  }
}