@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints.scss' as breakpoints;

.calendar-container {
  display: grid;

  padding: 2.4rem 0;

  background-color: colors.$shade50;

  &__date {
    width: 100%;
    max-width: 34rem;

    margin: 0 auto;

    &-select {
      display: grid;

      justify-items: center;
    }
  }

  &__days {
    margin: 0 auto;
    padding: 0 1rem;

    div {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 0.8rem;

      justify-items: center;
    }

    p {
      font-family: fonts.$primaryFont;
      color: colors.$gray300;
      text-align: center;
      font-size: 1.4rem;
      font-weight: fonts.$regular;
      line-height: 1.4;

      padding-bottom: 1.2rem;
    }
  }
}

@include breakpoints.from667 {
  .calendar-container {
    &__days {
      p {
        font-size: 1.6rem;
      }
    }

    &__date {
      max-width: 42rem;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      align-items: center;

      margin: 0 auto;
      padding-bottom: 3rem;

      &-select {
        display: flex;

        position: relative;
      }
    }
  }
}
