@use '~styles/colors' as colors;
@use '~styles/fonts' as fonts;

.input-text-container {
  position: relative;

  &__input {
    width: 100%;

    color: colors.$gray600;

    font-size: fonts.$sm;
    font-weight: fonts.$bold;

    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: auto 60%;
    filter: opacity(0.85);

    &::placeholder {
      font-weight: fonts.$regular;
    }

    &:disabled {
      filter: opacity(0.55);
    }

    &.standard {
      padding: 1.8rem 1.6rem;
      border: 1px solid colors.$gray200;

      border-radius: 14px;

      transition: border-color 0.3s ease-in-out;

      &.prefix,
      &.suffix {
        padding: 1.8rem 1.6rem;

        border-radius: 14px;
      }

      &.prefix {
        background-position: 0.8rem center;
      }

      &.suffix {
        background-position: calc(100% - 0.8rem) center;
      }

      &:focus {
        border-color: colors.$primary200;

        filter: opacity(1);
        outline-color: colors.$primary200;
      }

      &.input-error {
        border-color: colors.$error100;

        background-color: colors.$error100;
        filter: opacity(0.75);
        outline-color: colors.$error100;
      }
    }

    &.outlined {
      padding: 0.5rem 0.35rem;

      border-bottom: 1px solid colors.$gray200;
      border-color: transparent;

      outline: none;

      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-bottom-color: colors.$primary200;
      }

      &.input-error {
        border-bottom-color: colors.$error100;

        filter: opacity(0.65);

        &::placeholder {
          color: colors.$error100;
        }
      }

      &.suffix {
        padding: 0.8rem 3.5rem 0.8rem 1rem;

        background-position: calc(100% - 0.8rem) center;
      }

      &.prefix {
        padding: 0.8rem 1rem 0.8rem 3.5rem;

        background-position: 0.8rem center;
      }
    }
  }
}
