.input-text-container {
  position: relative;
}

.input-text-container__input {
  &.standart {
    width: 100%;

    font-size: 1rem;

    padding: 10px 30px 10px 40px;
    border: 1px solid #bfbfbf;

    background: url('https://www.svgrepo.com/show/532555/search.svg') no-repeat
      10px center;
    background-size: 20px;
    filter: opacity(0.85);
    border-radius: 4px;

    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: #007bff;

      filter: opacity(1);
      outline-color: #007bff;
    }

    &.input-error {
      border-color: #dc3545;

      background-color: #ee727e75;
      filter: opacity(0.75);
      outline-color: #dc3545;
    }
  }

  &.outlined {
    width: 100%;

    font-size: 1rem;

    padding: 8px 5px;
    border-bottom: 2px solid #bfbfbf;
    border-color: transparent;

    background: none;
    outline: none;

    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-bottom-color: #007bff;
    }

    &.input-error {
      border-bottom-color: #dc3545;

      filter: opacity(0.65);

      &::placeholder {
        color: #dc3545;
      }
    }
  }
}
