.input-text-container {
  position: relative;

  &__input {
    width: 100%;

    font-size: 1.5rem;

    background-repeat: no-repeat;
    background-size: auto 60%;
    filter: opacity(0.85);

    &:disabled {
      filter: opacity(0.55);
    }

    &.standard {
      padding: 0.65rem 1rem;
      border: 1px solid rgb(163, 163, 163);

      border-radius: 8px;

      transition: border-color 0.3s ease-in-out;

      &.prefix {
        padding: 0.8rem 1rem 0.8rem 3.5rem;

        background-position: 0.8rem center;
      }

      &.suffix {
        padding: 0.8rem 3.5rem 0.8rem 1rem;

        background-position: calc(100% - 0.8rem) center;
      }

      &:focus {
        border-color: rgb(0, 123, 255);

        filter: opacity(1);
        outline-color: rgb(0, 123, 255);
      }

      &.input-error {
        border-color: rgb(220, 53, 69);

        background-color: rgba(238, 114, 126, 0.458);
        filter: opacity(0.75);
        outline-color: rgb(220, 53, 69);
      }
    }

    &.outlined {
      padding: 0.5rem 0.35rem;

      border-color: transparent;
      border-bottom: 1px solid #b8b8b8;

      outline: none;

      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-bottom-color: rgb(0, 123, 255);
      }

      &.input-error {
        border-bottom-color: rgb(220, 53, 69);

        filter: opacity(0.65);

        &::placeholder {
          color: rgb(220, 53, 69);
        }
      }

      &.suffix {
        padding: 0.8rem 3.5rem 0.8rem 1rem;

        background-position: calc(100% - 0.8rem) center;
      }

      &.prefix {
        padding: 0.8rem 1rem 0.8rem 3.5rem;

        background-position: 0.8rem center;
      }
    }
  }
  
}
