@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;
@use '~styles/breakpoints' as breakpoints;

.petvet-page {
  display: flex;
  flex-direction: column;

  align-items: center;

  &__header {
    text-align: center;

    margin-bottom: 2.4rem;

    &--text {
      font-family: fonts.$primaryFont;
      color: colors.$gray800;
      font-size: 1.8rem;
      font-weight: fonts.$medium;

      line-height: 2.6;
    }

    &--subtext {
      font-family: fonts.$notoSansFont;
      color: colors.$gray700;
      font-size: fonts.$xs;
      font-weight: fonts.$regular;

      line-height: 2.2;
    }
  }

  &__card-group {
    display: flex;
    flex-direction: column;

    gap: 2.4rem;
  }

  &__card {
    font-family: fonts.$primaryFont;
    color: colors.$gray800;
    font-size: 1.4rem;
    font-weight: fonts.$semiBold;
    line-height: 2rem;

    padding: 1.6rem;

    box-shadow: 0 0 2px 2px rgba(12, 26, 75, 0.08);
    border-radius: 1.4rem;
  }

  &__card-header {
    display: flex;
    gap: 1rem;

    align-items: center;

    justify-content: space-between;
  }

  &__img {
    max-width: 5.4rem;
    max-height: 5.4rem;

    display: flex;

    align-items: center;
  }
}

@include breakpoints.from667 {
  .petvet-page {
    &__img {
      min-width: 6rem;
      min-height: 6rem;

      display: flex;

      align-items: center;
    }

    &__card-text-icon {
      display: flex;
      gap: 2rem;

      align-items: center;

      font-family: fonts.$primaryFont;
      color: colors.$gray800;
      font-size: 1.8rem;
      font-weight: fonts.$semiBold;
    }

    &__vaccine {
      min-width: 63rem;

      box-sizing: border-box;
    }

    &__button {
      max-width: 42rem;
    }

    &__card {
      padding: 2rem;

      border: 1px solid colors.$gray150;

      box-shadow: none;
      border-radius: 1.8rem;
    }
  }
}
