@use '~styles/breakpoints.scss' as breakpoints;

.pet-register {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  margin-top: 12rem;

  &__title {
    font-family: 'Montserrat';
    color: rgb(57, 67, 79);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;

    margin: 10rem auto 3rem;
  }

  &__image {
    margin: 5rem;

    transform: scale(1.2);
  }

  &__input {
    margin-top: 1.6rem;
  }

  &__button {
    width: 100%;

    margin-top: 14.4rem;
    padding-top: 2.4rem;
    box-sizing: border-box;

    box-shadow: 0 -3px 8px 0 rgba(73, 77, 90, 0.12156862745098039);
    border-radius: 0.5rem;
    padding-inline: 2.4rem;
  }
}

@include breakpoints.from1024 {
  .pet-register {
    .pet-register__image {
      transform: scale(1.5);
    }

    .pet-register__title {
      font-size: 1.8rem;

      margin-top: 20rem;
    }

    .pet-register__input {
      width: 100%;
    }

    .pet-register__button {
      width: 30%;

      margin-top: 6.9rem;

      box-shadow: unset;
    }
  }
}
