.pet-register__container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  margin-top: 12rem;
}

.pet-register-title__container {
  font-family: 'Montserrat';
  color: rgb(57, 67, 79);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.pet-register-image {
  margin: 5rem;

  transform: scale(1.2);
}

.pet-register__container {
  .pet-register-title__container {
    margin: 10rem auto 3rem;
  }

  .pet-register-input {
    width: 38rem;
  }

  .pet-register-button {
    max-width: 42rem;

    margin-top: 6.9rem;
  }
}
