@use '~styles/breakpoints.scss' as breakpoints;
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;

.pet-register {
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
  }

  &__image {
    max-width: 18.6rem;

    margin: 5rem auto;
  }

  &__title {
    font-family: fonts.$primaryFont;
    color: colors.$gray800;
    text-align: center;
    font-size: fonts.$xs;
    font-weight: fonts.$medium;

    margin: 7rem auto 3rem;
  }

  &__input {
    max-width: 32.7rem;

    margin: 0 auto;
  }

  &__button {
    width: 100%;

    margin-top: 16.8rem;
    padding: 2rem;
    box-sizing: border-box;

    box-shadow: 0 -3px 8px 0 rgba(73, 77, 90, 0.12156862745098039);
    border-radius: 1.7rem;
  }
}

@include breakpoints.from1024 {
  .pet-register {
    align-items: center;

    &__title {
      font-size: fonts.$sm;

      margin-top: 15rem;
    }

    &__input {
      max-width: 40rem;

      margin: 0 auto;
    }

    &__button {
      width: 43%;

      margin-top: 4rem;
      padding: unset;

      box-shadow: unset;
    }
  }
}
