.container-upload-image {
  position: relative;
  aspect-ratio: 1 / 1;

  &__label {
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__image-container {
    min-width: 186px;
    height: 100%;
    min-height: 186px;

    overflow: hidden;

    display: flex;

    align-items: center;
    justify-content: center;

    position: relative;

    background-color: rgb(0, 52, 89);
    border-radius: 50%;
  }

  &__placeholder-image {
    max-width: 100%;

    position: absolute;

    border-radius: 50%;
  }

  &__preview-image {
    max-width: 100%;

    position: absolute;
    inset: 0;

    object-fit: cover;

    &.hidden {
      display: none;
    }
  }

  &__button {
    width: 20%;
    height: 20%;

    display: flex;

    align-items: center;
    justify-content: center;

    border: 1px solid rgb(244, 248, 251);

    position: absolute;
    top: 85%;
    left: 60%;

    background: rgb(255, 255, 255);
    box-shadow: 0 1px 4px 0 rgba(139, 158, 184, 0.2);
    border-radius: 10%;
  }

  &__animation {
    position: absolute;
    inset: 0;
  }

  &__circle,
  &__circle-duplicate {
    width: 100%;
    height: 100%;

    border: 2px solid rgb(236, 239, 242);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    border-radius: 50%;

    animation: radar-pulse 6s infinite;
  }

  &__circle-duplicate {
    animation-delay: 2s;
  }
}

@keyframes radar-pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  25% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.3;
  }

  75% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
