@use '~styles/base.scss';
@use '~styles/colors.scss' as colors;
@use '~styles/breakpoints.scss' as breakpoints;

.range-slider {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  &__button {
    color: rgb(209, 230, 255);

    font-size: 2rem;

    padding: 1rem;
    border: 2px solid colors.$blue600;

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: colors.$primary200;
    transform: translate(-50%, -50%);

    border-radius: 0.8rem;

    cursor: grab;
    letter-spacing: 1;
  }

  &__info {
    display: inline-block;

    font-family: 'Noto Sans', sans-serif;
    color: colors.$primary200;

    text-align: center;
    font-size: 8rem;
    font-weight: 700;

    margin-bottom: 2rem;
  }

  &__info:nth-child(2) {
    display: none;
  }

  &__content {
    width: 100%;
    height: 100px;
    overflow: hidden;

    position: relative;

    background-image: url('../../home/images/ruler-slider.svg');
    background-repeat: repeat-x;
    background-position: 0 center;
  }

  &__content::before {
    left: 0;

    background: linear-gradient(
      to right,
      colors.$secondary100,
      rgba(255, 255, 255, 0)
    );
  }

  &__content::after {
    right: 0;

    background: linear-gradient(
      to left,
      colors.$secondary100,
      rgba(255, 255, 255, 0)
    );
  }

  &__content::before,
  &__content::after {
    width: 30px;
    height: 100%;

    position: absolute;
    z-index: 2;

    pointer-events: none;
    content: '';
  }
}

@include breakpoints.from667 {
  .range-slider__content::before,
  .range-slider__content::after {
    width: 16%;
  }

  .range-slider__button {
    padding: 1rem 2rem;
  }

  .range-slider__info:first-child {
    padding-right: 2rem;
  }

  .range-slider__info:nth-child(2) {
    display: inline-block;
  }
}
