:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  background-color: #242424;

  color-scheme: light dark;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 100vw;
  min-height: 100vh;

  display: grid;
  place-items: center;

  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;

    background-color: #fff;
  }
}
