:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  background-color: #242424;

  color-scheme: light dark;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;

  display: flex;

  place-items: center;

  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  height: 6em;

  padding: 1.5em;
  will-change: filter;

  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  padding: 0.6em 1.2em;
  border: 1px solid transparent;

  background-color: #1a1a1a;
  border-radius: 8px;

  transition: border-color 0.25s;

  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;

    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
