@use '~styles/colors.scss' as colors;

.progress-bar {
  width: 100%;

  display: grid;

  &__background {
    width: 100%;
    height: 50%;

    grid-row: 1;
    grid-column: 1;

    position: relative;
    top: 25%;
    z-index: 0;

    background-color: colors.$grey150;
    border-radius: 100000px;
  }

  &__foreground {
    height: 6px;

    grid-row: 1;
    grid-column: 1;

    position: relative;
    z-index: 1;

    background-color: colors.$yellow500;
    border-radius: 100000px;

    transition: width 1s ease-in-out;
  }
}
