@use '~styles/colors.scss' as colors;

.progress-bar {
  width: 100%;
  display: grid;

  &__background {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 50%;
    border-radius: 100000px;
    grid-row: 1;
    grid-column: 1;
    top: 25%;
    background-color: colors.$grey150;
  }

  &__foreground {
    position: relative;
    z-index: 1;
    height: 6px;
    grid-row: 1;
    grid-column: 1;
    border-radius: 100000px;
    background-color: colors.$yellow500;
    transition: width 1s ease-in-out;
  }
}
